hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

#box-list-chat {
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
    scrollbar-width: thin;
}

#box-chat{
    height: 80vh;
    overflow-y: auto;
    background-color: #00bfa5;
    margin-top: 64px;
    margin-left: 5px;
    padding: 10px 10px 0 10px;
    scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
    scrollbar-width: thin;
    width: 911px;
}

#friend-chat{
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 80%;
}

#user-chat{
    background-color: #6cea91;
    border-radius: 10px;
    max-width: 80%;
    position: relative;
    left: 20%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#date-chat{
    background-color: rgba(255, 245, 254, 0.92);
    max-width: 200px;
    border-radius: 10px;
    padding: 10px;
    position: relative;   
}

#navbar-chat{
    background-color: #ededed;
    position: fixed;
    z-index: 999;
    top: 0;
}

.modal{padding: 0 !important;}

.connected-wa{
    text-align: center;
    background-color: #f8f9fa;
    height: 590px;
    width: 911px;
}

/* Start Modal Profile */
.header-profile{
    background-color: #00bfa5;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 33%;
    height: 50px;
}

.modal-profile{
    margin: 0;
    width: 33.333%;
    height: 400px;
}

.body-profile{
    margin-top: 50px;
}
/* End Modal Profile */

/* Start Modal Status */
.modal-status{
    margin: 0;
    max-width: 100% !important;
    height: 100%;
}

.close-status{
    color: #ffffff;
    background-color: #000000;
    text-align: end;
}

.navbar-status{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 33%;
}

.header-status{
    background-color: #141414;
    color: #ffffff;
}

.list-status{
    margin-top: 48px;
    overflow-y: auto;
    scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
    scrollbar-width: thin;
    max-height: 91vh;
}

.avatar{
    width: 100%;
    height: auto;
}

.blank-status{
    text-align: center;
    margin-top: 20vh;
    height: 430px;
}
/* End Modal Status */

/* start show status */
.modal-show-status{
    margin: 0;
    max-width: 100%;
    height: 100px;
}

.modal-show-status img{
    height: 99vh;
}

.each-status{
    background-color: #000000;
    opacity: 50%;
}

.carousel-indicators{
    top: 0;
}

.navbar-show-status{
    position: fixed;
    width: 100%;
    z-index: 99;
}
/* end show status */

/* start login page */
.background{
    background-color: #d4dbd9;
    height: 100vh;
}

.header-wa-web{
    background-color: #00bfa5;
    height: 200px;
    color: #ffffff;
    margin: auto;
    padding-top: 30px;
}

.window-wa-web{
    -webkit-box-shadow: 0px 0px 44px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 44px 4px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 44px 4px rgba(0,0,0,0.3);
    margin: auto;
    width: 900px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    top: -100px;
    border-radius: 10px;
}

.logo-wa-web{
    width: 39px;
    margin-right: 20px;
}

.switch-link{
    color: #00bfa5;
}

.switch-link:hover{
    color: #00a892;
}

.btn-primary{
    background-color: #00bfa5;
    border-color: #00bfa5;
    display: flex;
    margin: auto;
}

.btn-primary:hover{
    background-color: #ffffff;
    color: #00bfa5;
    border-color: #00bfa5;
}
/* end login page */